@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed');

//colors
$color1:#fec118;
$color2:#272622;
$hover:#fec118;
$white:#ffffff;
$gray:#e5e5e5;
$opacity:rgba(39,38,34,0.6);
$wopacity:rgba(255,255,255,0.6);



//fonts
$font1:'Ubuntu', sans-serif;
$font2:'Ubuntu Condensed', sans-serif;
$font3:'Sacramento', cursive;
//width

$center1:960px;
$center2:720px;
$center3:1250px;

