  <div class="homeSlides">
    <ks-swiper-container [options]="example1SwipeOptions">
      <ks-swiper-slide style="background:url(/assets/img/slider/sld1.jpg)"></ks-swiper-slide>
      <ks-swiper-slide style="background:url(/assets/img/slider/sld2.jpg)"></ks-swiper-slide>
      <ks-swiper-slide style="background:url(/assets/img/slider/sld3.jpg)"></ks-swiper-slide>
    </ks-swiper-container>
    <div class="swiper-button-prev" (click)="movePrev()"><i class="fa fa-angle-left"></i></div>
    <div class="swiper-button-next" (click)="moveNext()"><i class="fa fa-angle-right"></i></div>
  </div>